/Best_Time_to_Buy_andS_Sell_Stock_one_easy.class
/Best_Time_to_Buy_andS_Sell_Stock_two_easy.class
/Contains_Duplicate_easy.class
/Majority_Element_easy.class
/Maximum_Subarray_easy.class
/Merge_sorted_array_easy.class
/Move_Zeroes_easy.class
/Pascal_Triangle_easy.class
/Plus_One_easy.class
/Remove_Duplicates_from_Sorted_Array.class
/Two_Sum_easy.class
